@import './roboto';
@import './colors';

$background: #1E2224;
$primary: #03A9F4;

@mixin noscroll {
  overflow: hidden;
}

@mixin flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  @include noscroll;
  font-family: 'roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  margin: 0;
  font-size: 16px;
  color: white;
}

*:focus {
  outline: none;
}

#app {
  @include noscroll;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.hidden {
  display: none;
}

@import './transitions';

@import './buttons';
@import './forms';
@import './tooltip';

@import './title';
@import './settings';
@import './list';
