@import './roboto';
@import './colors';

$background: #1E2224;
$primary: #4FC3F7;

@mixin noscroll {
  overflow: hidden;
}

@mixin flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  @include noscroll;
  font-family: 'roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  margin: 0;
  font-size: 16px;
  color: white;
}

*::-webkit-scrollbar-track-piece {
  background-color: colors(gray-8);
}

*::-webkit-scrollbar-thumb {
  background-color: colors(gray-6);
}

*::-webkit-scrollbar {
  width: 6px;
}

*:focus {
  outline: none;
}

* {
  transition: all 0.25s ease;
}

#app {
  @include noscroll;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.hidden {
  display: none !important;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  margin: 0;
}

@import './transitions';
@import './modal';

@import './buttons';
@import './forms';
@import './tooltip';

@import './task';
@import './title';
@import './settings';
@import './list';
