$red: #F44336;
$pink: #E91E63;
$purple: #9C27B0;
$indigo: #3F51B5;
$blue: #2196F3;
$lblue: #03A9F4;
$cyan: #00BCD4;
$teal: #009688;
$green: #4CAF50;
$lgreen: #8BC34A;
$lime: #CDDC39;
$yellow: #FFEB3B;
$orange: #FF9800;
