
input, select {
  margin: 0.25rem 0 0.25rem 0.5rem;
  border: none;
  border-radius: 2px;
  padding: 0.5rem;
  font-size: 14px;
  color: white;
  background-color: lighten($background, 10%);
  &:focus {
    background-color: lighten($background, 15%);
  }
  &:disabled {
    background-color: $background;
    color: map-get($colors, gray-6);
  }
}

input[type='number'] {
  width: 48px;
}

select {
  -webkit-appearance: button;
  -moz-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-padding-end: 0.5rem;
  -moz-padding-end: 0.5rem;
  -webkit-padding-start: 0.5rem;
  -moz-padding-start: 0.5rem;

  -webkit-border-radius: 2px;
  padding-top: 0.5rem;
  padding-bottom:0.5rem;
}

.error {
  position: relative;
  outline: 1px solid colors(red);
}

.checkbox {
  cursor: pointer;
  display: inline-block;
  height: 24px;
}
