#settings {
  padding: 0.5rem;
  background-color: lighten($background, 5%);
  height: 80vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
}

#settings-body {
  flex-grow: 1;
}

#settings-footer {
  display: flex;
  justify-content: space-between;
}

#task-settings {
  display: flex;
  flex-direction: column;
}
